# File: docs/requirements.txt

# Defining the exact version will make sure things don't break
sphinx
sphinx_rtd_theme
sphinx-argparse
sphinx-notfound-page
readthedocs-sphinx-search
myst_parser
nbsphinx
Jinja2
IPython
isotools
python-ternary